<footer class="footer">
  <div class="footer__first">
    <div class="footer__first__left">
      <img class="footer__img" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png" alt="Logo-Cine">
    </div>
    <div class="footer__first__middle">
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="">Home</a></li>
        <li class="footer__item"><a class="footer__link" href="">Peliculas</a></li>
      </ul>
    </div>
    <div class="footer__first__right">
      <h3 class="footer__title__right">Socials</h3>
      <ul class="footer__list--socials">
        <a href=""><img class="footer__socials" src="./assets/facebook.png" alt="facebook"></a>
        <a href=""><img class="footer__socials" src="./assets/instagram.png" alt="instagram"></a>
        <a href=""><img class="footer__socials" src="./assets/youtube.png" alt="youtube"></a>
      </ul>
    </div>
  </div>
  <div class="footer__third">
    <p class="footer__copy">© 2024 CineUPC. Todos los derechos reservados.</p>
  </div>
</footer>
